# 자료형

* 자료(data) : 프로그램이 처리할 수 있는 모든 것<br>
 ex) 사진을 찍으면 사진이 '자료'이고, 이를 카메라에 저장하는 것이 '처리'이다.<br>
 일상에서 만나는 모든 것들은 자료가 될 수 있고, '프로그램'은 이러한 자료를 처리하기 위한 모든 행위라고 생각할 수 있다.<br><br>

기능과 역할에 따라 자료를 구분된 종류를 '자료형(data type)'이라 부른다.<br>
* 문자열(string) : 메일 제목, 메시지 내용 등
* 숫자(number) : 물건의 가격, 학생의 성적 등
* 불(boolean) : 친구의 로그인 상태 등
<br><br>

### 자료형 확인하기
자료의 형식을 확인할 때는 ```type()``` 함수를 사용

In [ ]:
print(type("안녕하세요"))
print(type(1234))

<class 'str'>
<class 'int'>

### 문자열 내부에 따옴표 넣기

In [ ]:
print("'작은 따옴표'를 안에 넣기")
print('"큰 따옴표"를 안에 넣기')

'작은 따옴표'를 안에 넣기
"큰 따옴표"를 안에 넣기

### 구문 오류(Syntax Error)란?
작성한 코드에 문제가 있어서 아예 실행조차 되지 않는다는 의미<br>
대표적인 오류가 괄호를 열고, 닫지 않을 때이다.

### 이스케이프 문자(escape character)를 사용해 문자열 만들기
역슬래시(\) 기호와 함께 조합해서 사용하는 특수한 문자
* ```\"``` : 큰 따옴표를 의미한다.
* ```\'``` : 작은 따옴표를 의미한다.
* ```\n``` : 줄바꿈을 의미한다.
* ```\t``` : 탭을 의미한다.
* ```\\``` : 역슬래시를 의미한다.

In [ ]:
print("\"안녕하세요\"라고 말했습니다.")
print('\'안녕하세요\'라고 말했습니다.')

print("안녕?\n안녕!\n")
print("이름\t나이\t지역")
print("성민\t32\t강동구")
print()

print("\\ \\ \\ \\")
print()

# 여러 줄의 문자열 만들기
print("""
동해물과 백두산이
마르고 닳도록""")

# 줄바꿈 없이 문자열 만들기 ** (위의 print()문 사이에 줄바꿈(\n)을 생략해준다는 뜻..)
print("""\
동해물과 백두산이
마르고 닳도록\
""")

"안녕하세요"라고 말했습니다.
'안녕하세요'라고 말했습니다.
안녕?
안녕!

이름	나이	지역
성민	32	강동구

\ \ \ \


동해물과 백두산이
마르고 닳도록
동해물과 백두산이
마르고 닳도록

### 문자열 연산자
숫자에는 숫자에만 적용할 수 있는 연산자가 있고, 문자열에는 문자열에만 적용할 수 있는 연산자가 있다.<br>

* 문자열 연결 연산자(+) : "문자열" + "문자열"

In [ ]:
print("안녕"+"하세요")

안녕하세요

In [ ]:
print("안녕"+1)

TypeError: ignored

In [ ]:
print("안녕" + "1")

안녕1

문자열은 무조건 문자열끼리 + 연산자를 사용해서 연결해야 하고, 숫자라 하더라도 문자열과 함께 +연산하려면 큰따옴표를 붙여 문자열로 인식시켜야만 오류 없이 결과를 얻을 수 있다.

* 문자열 반복 연산자(*)

In [ ]:
print("안녕?" * 3)

안녕?안녕?안녕?

* 문자 선택 연산자(인덱싱) : [ ]<br>
문자열 내부의 문자 하나를 선택하는 연산자이다.<br>

In [ ]:
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

안
녕
하
세
요

In [ ]:
print("안녕하세요"[-5])
print("안녕하세요"[-4])
print("안녕하세요"[-3])
print("안녕하세요"[-2])
print("안녕하세요"[-1])

안
녕
하
세
요

* 문자열 범위 선택 연산자(슬라이싱) = [ : ] <br>
 [0:3]이런식으로 마지막 인덱스 번호를 지정하면 __마지막 숫자를 포함하지 않음__

In [ ]:
print("안녕하세요"[0:2])
# 0이상 2미만을 출력
# **슬라이싱은 '마지막 숫자를 포함하지 않음'

안녕

In [ ]:
print("안녕하세요"[3:])
# 마지막 인덱스 번호를 지정하지 않으면 끝까지 출력

세요

In [ ]:
print("안녕하세요"[:3])

안녕하

### 문자열의 길이 구하기
* len() 함수를 사용!

In [ ]:
string1 = "안녕하세요"
print(string1)
print(len(string1))

안녕하세요
5

# 숫자
소수점이 없는 숫자 : 정수형 <br>
소수점이 있는 숫자 : 실수형 <br>
<br>
* integer : 정수
* floating point : 실수 또는 부동 소수점
<br>
ex) 실수는 `52.273 = 0.52273 * 10**3` 과 같이 소수점의 위치를 바꿔도 결국 같은 숫자이므로, '소수점이 움직이는 숫자'라는 의미로 '부동 소수점'이라고 표현하기도 한다.

In [ ]:
print(type(52))
print(type(52.273))

<class 'int'>
<class 'float'>

### 파이썬에서의 지수 표현
```
0.52273e2 = 0.52273 * (10 ** 2)
0.52273e-2 = 0.52273 * (10 ** -2)
```

### 숫자 연산자
* ```+``` : 덧셈 연산자
* ```-``` : 뺄셈 연산자
* ```*``` : 곱셈 연산자
* ```/``` : 나눗셈 연산자
* ```//``` : 정수 나누기 연산자
* ```%``` : 나머지 연산자
* ```**``` : 제곱 연산자
<br><br>

### 연산자의 우선순위
곱셈과 나눗셈이 덧셈과 뺄셈보다 우선한다.<br>
소괄호를 이용하여 확실하게 표현해주면 분별성과 가독성이 좋아진다.

# 변수와 입력

* 변수 : 값을 저장할 때 사용하는 식별자

In [ ]:
pi = 3.141592652
print(pi)

3.141592652

이때 "=" 기호는 "같다"라는 의미가 아닌 '넣겠다', '할당하겠다'의 의미이다.

### 파이썬의 유연성
C, C++, C#, 자바 등에서는 변수를 사용할 때 변수의 자료형을 미리 선언해야 했다.
```
int pi

pi = 3.1592
```
파이썬은 다른 프로그래밍 언어와는 다르게 변수에 자료형을 지정하지 않는다.<br>
따라서 같은 변수에 여러 종류의 자료형을 넣을 수도 있다.
```
a = "안녕?"
a = True
a = 5
```
이러한 유연성 때문에 변수에 어떠한 자료형이 들어 있는지 모르고 실수하는 경우가 있기 때문에 하나의 변수에는 되도록 하나의 자료형을 넣어 활용하는 것이 좋다!!

### 복합 대입 연산자
* ```+=``` : 숫자 덧셈 후 대입
* ```-=``` : 숫자 뺄셈 후 대입
* ```*=``` : 숫자 곱셈 후 대입
* ```/=``` : 숫자 나눗셈 후 대입
* ```%=``` : 숫자의 나머지를 구한 후 대입
* ```**=``` : 숫자 제곱 후 대입

In [ ]:
number = 100
print(number)
number += 10
print(number)

string2 = "안녕"
print(string2)
string2 += "하세요"
print(string2)

100
110
안녕
안녕하세요

### 사용자 입력 : input()
명령 프롬프트에서 사용자로부터 데이터를 입력받을 때 input()함수를 사용!<br>
input 함수 괄호 안에 입력한 내용을 '프롬프트 문자열'이라고 한다.
<br><br>
다른 변수에 대입해서 사용할 수 있다.
<br><br>
 **input()함수는 사용자가 무엇을 입력해도 결과는 무조건 문자열 자료형!!**

In [ ]:
input("인사말을 입력하세요: ")

인사말을 입력하세요: 안녕

'안녕'

In [ ]:
string3 = input("인사말을 입력하세요 : ")
print(string3)

인사말을 입력하세요 : Hello
Hello

In [ ]:
test = input("어떤 자료형을 입력해보세요 : ")
print(type(test))

어떤 자료형을 입력해보세요 : 1
<class 'str'>

In [ ]:
test = input("어떤 자료형을 입력해보세요 : ")
print(type(test))

어떤 자료형을 입력해보세요 : True
<class 'str'>

### 문자열을 숫자로 바꾸기
input() 함수의 입력 자료형은 항상 문자열이기 때문에 문자열을 숫자로 변환해야 숫자 연산에 활용할 수 있다.<br>
 **캐스트(cast)**라고 부른다.

In [ ]:
num1 = input("숫자를 입력해주세요 : ")
print("num1 * 5 = ", int(num1) * 5)

숫자를 입력해주세요 : 5
num1 * 5 =  25

In [ ]:
num2 = input("정수를 입력해주세요 : ")
num3 = input("실수를 입력해주세요 : ")
print("num2 = ", num2)
print("num3 = ", num3)
print("num2 * num3 = ", int(num2) * float(num3)) # 정수와 실수는 곱이 가능하다 그 이후의 자료형은 실수가 된다.

정수를 입력해주세요 : 5
실수를 입력해주세요 : 3.3
num2 =  5
num3 =  3.3
num2 * num3 =  16.5

### ValueError 예외
'변환할 수 없는 것'을 변환하려 할 때 발생하는 예외이다.
```
int("안녕하세요")
float("안녕")
int("51.152")
```

### 숫자를 문자열로 바꾸기
str()함수와 format()함수를 활용

In [ ]:
num4 = 51
num5 = 15.2

num4 = str(num4)
num5 = str(num5)

print(num4, num5)
print(type(num4), type(num5))

51 15.2
<class 'str'> <class 'str'>



---

# 파이썬 튜터로 코드 분석하기
프로그래밍 초보자가 코드 흐름을 쉽게 이해할 수 있도록 파이썬 코드를 시각적으로 분석해 주는 도구이다. <br>
* https://pythontutor.com



---

# 숫자와 문자열의 다양한 기능
식별자 뒤에 괄호( )가 붙으면 '함수'

### 문자열의 format( ) 함수
문자열이 가지고 있는 함수이다.<br>
중괄호 { }를 포함한 문자열 뒤에 마침표(.)를 찍고 format( )함수를 사용하는데,<br>
중괄호의 개수와 format 함수 괄호 안 매개변수의 개수는 반드시 같아야 한다!

In [ ]:
string_a = "{}".format(10)

print(string_a)
print(type(string_a))

10
<class 'str'>

### format( ) 함수의 다양한 형태

In [ ]:
format_a = "{}만원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만원 만들기 ".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

print(format_a)
print(format_b)
print(format_c)
print(format_d)

print(type(format_a))
print(type(format_b))
print(type(format_c)) # 리스트 일 줄 알았는데.. str이다.
print(type(format_d))

print(len(format_c))
print(len(format_d))

5000만원
파이썬 열공하여 첫 연봉 5000만원 만들기
3000 4000 5000
1 문자열 True
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
14
10

### format( ) 함수를 사용한 정수를 특정 칸에 출력하기

In [ ]:
# 정수형식 d
output_a = "{:d}".format(52)

# 특정 칸에 출력하기
output_b = "{:5d}".format(52)   # 5칸 --> 52값을 포함하여 5칸!
output_c = "{:10d}".format(52)    # 10칸

# 빈칸을 0으로 채우기
output_d = "{:05d}".format(52)    # 양수
output_e = "{:05d}".format(-52)   # 음수

# 출력
print("# 기본")
print(output_a)

print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)

print("# 빈칸을 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052

### 기호 붙여 출력하기

In [ ]:
# 기호와 함께 출력하기
output_f = "{:+d}".format(52)   # 양수
output_g = "{:+d}".format(-52)    # 음수
output_h = "{: d}".format(52)   # 양수 : 기호 부분 공백
output_i = "{: d}".format(-52)    # 음수 : 기호 부분 공백

print("# 기호와 함께 출력하기")
print(output_f, type(output_f))
print(output_g, type(output_g))
print(output_h, type(output_h))
print(output_i, type(output_i))

# 기호와 함께 출력하기
+52 <class 'str'>
-52 <class 'str'>
 52 <class 'str'>
-52 <class 'str'>

### 조합해보기

In [ ]:
# 조합하기
output_h = "{:+5d}".format(52)    # 기호를 뒤로 밀기 : 양수
output_i = "{:+5d}".format(-52)   # 기호를 뒤로 밀기 : 음수
output_j = "{:=+5d}".format(52)   # 기호를 앞으로 밀기 : 양수
output_k = "{:=+5d}".format(-52)    # 기호를 뒤로 밀기 : 음수
output_l = "{:+05d}".format(52)   # 0으로 채우기 : 양수
output_m = "{:+05d}".format(-52)    # 0으로 채우기 : 음수

print("# 조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

# 조합하기
  +52
  -52
+  52
-  52
+0052
-0052

### format( ) 함수 위의 코드 정리..
{:5d} 라고 입력하면 5칸을 빈 칸으로 잡고 뒤에서부터 52라는 숫자를 채운다.<br>
{:05d} 라고 지정하면 5칸을 잡고 뒤에서부터 52라는 숫자를 넣은 후, 앞의 빈 곳을 0으로 채운다.<br>
output_d는 양수, output_e는 음수인데, 부호가 있을 때는 맨 앞자리를 부호로 채우고 나머지 빈 곳을 0으로 채운다.<br><br>

{:+d} 처럼 d앞에 + 기호를 붙이면 양수와 음수 기호를 표현할 수 있다.<br>
{: d} 처럼 앞에 공백을 두어 기호 위치를 비워 주면 함수에 입력한 기호가 표현된다.<br><br>

기호와 공백을 조합할 때 = 기호를 앞에 붙일 수 있다.<br>
이는 5칸의 공간을 잡았을 때 기호를 빈칸 앞에 붙일 것인지, 숫자 앞에 붙일 것인지 지정하는 기호이다.<br><br>

 **조합 순서가 중요**<br>
 조합 순서가 달라지면 출력이 이상하게 된다.

### 부동 소수점 출력의 다양한 형태
소수점이 들어가는 float 자료형 출력을 강제로 지정할 때는 {:f}를 사용한다.

In [ ]:
output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273)    # 15칸 만들기
output_c = "{:+15f}".format(-52.273)   # 15칸에 부호 추가하기
output_d = "{:+015f}".format(-52.273)    # 15칸에 부호 추가하고 0으로 채우기

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     -52.273000
-0000052.273000

### 소수점 아래 자릿수 지정하기

In [ ]:
output_a = "{:15.3f}".format(52.273)    # 15칸, .뒤에 3개 출력
output_b = "{:15.2f}".format(52.273)     # 15칸, .뒤에 2개 출력
output_c = "{:15.1f}".format(52.273)     # 15칸, .뒤에 1개 출력

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

### 의미없는 소수점 제거하기
파이썬은 0과 0.0을 출력했을 때 내부적으로 자료형이 다르므로 서로 다른 값을 출력한다.<br>
그런데 의미 없는 0을 제거한 후 출력하고 싶을 때 {:g}를 사용한다.

In [ ]:
output_a = 52.00
output_b = "{:g}".format(output_a)

print(output_a)
print(output_b)

52.0
52

### 대소문자 바꾸기 : upper( )와 lower( )
upper( ) 함수는 문자열의 알파벳을 대문자로,<br>
lower( ) 함수는 문자열의 알파벳을 소문자로 바꿔준다.



---


# 파괴적 함수와 비파괴적 함수
upper( )와 lower( ) 함수를 사용하면 '변수'의 문자열이 바뀔 것으로 생각하는데, 절대로 원본은 변하지 않는다. 이렇게 원본을 변화시키지 않는 함수를 **비파괴적 함수**라고 부른다.


---



---

### 문자열 양옆의 공백 제거하기 : strip( ) 함수
* 왼쪽의 공백을 제거하는 lstrip( ) 함수
* 오른쪽의 공백을 제거하는 rstrip( ) 함수

In [ ]:
a = "      안녕하세요      "

print(a)
print(a.strip())
print(a.lstrip())
print(a.rstrip())

      안녕하세요
안녕하세요
안녕하세요
      안녕하세요

# 문자열의 구성 파악하기 : is__( ) 함수

* `isalnum( )` : 문자열이 알파벳 또는 숫자로만 구성되어 있는지 확인
* `isalpha( )` : 문자열이 알파벳으로만 구성되어 있는지 확인
* `isidentifier( )` : 문자열이 식별자로 사용할 수 있는 것인지 확인
* `isdecimal( )` : 문자열이 정수 형태인지 확인
* `isdigit( )` : 문자열이 숫자로 인식될 수 있는 것인지 확인
* `isspace( )` : 문자열이 공백으로만 구성되어 있는지 확인
* `isupper( )` : 문자열이 대문자로만 구성되어 있는지 확인
* `islower( )` : 문자열이 소문자로만 구성되어 있는지 확인
<br><br>

출력은 True / False 인 **불** 형태로 나온다.

# 문자열 찾기 : find( ) 와 rfind( )
* `find()` : 왼쪽부터 찾아서 처음 등장하는 위치의 인덱스를 반환
* `rfind()` : 오른쪽부터 찾아서 처음 등장하는 위치의 인덱스를 반환

In [ ]:
A = "안녕안녕하세요"
#    0 1 2 3 4 5 6  --> 인덱스

print(A.find("안녕"))
print(A.rfind("안녕"))

0
2

# 문자열과 in 연산자
문자열 내부에 어떤 문자열이 있는지 확인하려면 **in 연산자**를 사용한다.<br>
출력은 True / Flase

In [ ]:
print("안녕" in "안녕하세요")   # "안녕하세요" 문자열 안에 "안녕"이 들어있는지 확인

print("잘자" in "안녕하세요")

True
False

# 문자열 자르기 : split( )
특정한 문자로 자를 때는 split( )함수를 사용한다.<br>
실행 결과로 **리스트**가 나온다!!

In [ ]:
a = "10 20 30 40 50".split(" ")

print(a)

['10', '20', '30', '40', '50']

# f-문자열
문자열 내부에 표현식을 삽입하고 싶을 때 **문자열 연결 연산자**를 사용한다.
```
"3 + 4 = " + str(3 + 4)
```
표현식을 여러 개 삽입할 때마다 str( ) 함수로 감싸는 것 자체가 귀찮을 것이다. 이럴 때 편리한 것이 ```format()```함수 이다.
```
"3 + 4 = {}".format(3 + 4)
```
파이썬 3.6버전 이상부터는 더 간단하게 사용할 수 있는 방법을 제공한다.<br>
이 방법이 **f-문자열** 이다.
```
f'문자열{표현식}문자열'
```

In [ ]:
f"3 + 4 = {3 + 4}"

'3 + 4 = 7'

In [ ]:
f"""
1 + 2 = {1 + 2}
3 * 3 = {3 * 3}
2의 3제곱은 = {2 ** 3}
"""

'\n1 + 2 = 3\n3 * 3 = 9\n2의 3제곱은 = 8\n'

# f-문자열보다 format( ) 함수를 사용하는 것이 더 좋은 경우
1. 문자열 내용이 너무 많을 때

```
name = "구름"
age = 7

"""# 문자열이 너무 긴 경우
문자열이 너무 긴 상황에서
데이터 {}을 출력해야 하는 경우가 있다.
 ~
 ~
이때 f-문자열을 사용하면
어떤 위치에 어떤 데이터 {}가 출력되는지 확인하기 위해서
문자열 전체를 읽어야 하는 문제가 있다.
 ~
 ~
 ~""".format(name, age)
```
이럴 땐 데이터를 뒤에 모아서 볼 수 있는 format( ) 함수가 더 유용하다.
<br><br>

2. 데이터를 리스트에 담아서 사용할 때

```
data = ['별', 2, 'M', '서울특별시 강서구', 'Y']

f"""이름: {data[0]}
나이: {data[1]}
성별: {data[2]}
지역: {data[3]}
중성화 여부: {data[4]}"""
```
이러한 경우 format( )함수와 전개 연산자를 사용하면 더 간단하게 출력 가능하다.


```
data = ['별', 2, 'M', '서울특별시 강서구', 'Y']

"""이름: {}
나이: {}
성별: {}
지역: {}
중성화 여부: {}""".format(*data)
```