# 반복문
* 리스트, 딕셔너리, 범위 이해하기
* for 반복문과 리스트, 딕셔너리, 범위를 조합하는 방법을 배운다
* while 반복문을 배운다
* break 키워드와 continue 키워드를 이해한다

# 4-1 리스트와 반복문
* 리스트와 딕셔너리 : 여러 개의 값을 나타낼 수 있게 해주는 자료형
<br>
 **리스트**란 사전적 의미로 '목록'이며 여러가지 자료를 저장할 수 있는 자료이다.


```
리스트 변수 = [요소1, 요소2, 요소3, ... ]
```
대괄호 [ ] 내부에 넣는 자료를 **요소** 또는 **element**라고 부른다.
<br>

이 요소들은 문자열 때처럼 인덱스를 0부터 센다.
<br><br>

```
array = ["문자", 123, True, "456"]
```
array[0]은 "문자"이고, array[-1]은 "456"이다.

* 대괄호 안에 음수를 넣어 뒤에서부터 요소를 선택할 수 있다.
* 리스트 접근 연산자를 이중으로 사용할 수 있다. ex) array[0][0] 은 "문"
* 리스트 안에 리스트를 사용할 수도 있다. ex) array = [[1,2,3],[5,6]]

### 리스트 연산하기 : 연결(+), 반복(*), len( )

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]

print("# 리스트")
print("list_a = ", list_a)
print("list_b = ", list_b)
print()

print("# 기본 연산자")
print("list_a + list_b = ", list_a + list_b)
print("list_a * 3 = ", list_a * 3)
print()

print("# 길이 구하기")
print("len(list_a) = ", len(list_a))

# 리스트
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]

# 기본 연산자
list_a + list_b =  [1, 2, 3, 4, 5, 6]
list_a * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 길이 구하기
len(list_a) =  3

### 리스트에 요소 추가하기 : append( ), insert( ), extend( )
```
리스트명.append(요소)
리스트명.inset(위치,요소)
리스트명.extend(리스트)
```

리스트 연결 연산자는 원본에 어떠한 영향도 주지 않는다. ex) list_a + list_b <br>
따라서 **비파괴적**이라 표현하고, append( ), insert( ), extend( ) 함수와 같이 리스트에 직접적인 영향을 주는 함수 또는 연산을 **파괴적**이라고 표현한다.
<br><br>
* 원본이 중요해서 비파괴적으로 써야할 때 구분하기
* 데이터 용량에 대해 고민하기

### 리스트에 요소 제거하기
* 인덱스로 제거하기
* 값으로 제거하기

### 인덱스로 제거하기 : del 키워드, pop( )

```
del 리스트명[인덱스]

리스트명.pop(인덱스)    # 인덱스를 지정하지 않으면 제일 마지막 인덱스로 인식
```

# 리스트 슬라이싱

```
리스트[시작_인덱스 : 끝_인덱스 : 단계]
```
끝_인덱스는 포함하지 않으며, <br>
단계가 2일 경우 0 -> 2 -> 4 <br>
단계가 -1일 경우 끝_인덱스 ---> 시작_인덱스 방향으로 반대로 출력하게 된다

### 값으로 제거하기 : remove( )

```
리스트.remove(값)
```

### 모두 제거하기 : clear( )

```
리스트.clear()
```

### 리스트 정렬하기 : sort( )

```
리스트.sort()
```

### 리스트 내부에 있는지 확인하기 : in / not in 연산자

```
값 in 리스트
```

# for 반복문 : 리스트와 함께 사용하기

```
for 반복자 in 반복할 수 있는 것(이터레이터):
  코드
```

In [ ]:
array = [273, 32, 103, 57, 52]

for element in array:
  print(element)

print()

# 문자열도 가능하다
for element in "안녕하세요":
  print(element)

273
32
103
57
52

안
녕
하
세
요

# 중첩 리스트와 중첩 반복문
반복문을 여러 겹 중첩해 사용하면 **중첩 반복문**이라고 부른다.<br>
일반적으로 n-차원 처리를 할 때 사용한다.

### 2차원 리스트에 반복문 두번 사용하기

In [ ]:
list_of_list = [
    [1,2,3],
    [5,6,7],
    [10,12,14]
]

for items in list_of_list:
  for item in items:
    print(item)

1
2
3
5
6
7
10
12
14

# 전개 연산자
전개 연산자를 사용하면 리스트 내용을 전개해서 입력할 수 있다.<br>

```
*리스트
```
--> 리스트[0], 리스트[1], ... 리스트[끝인덱스]

In [ ]:
a = [1,2,3,4]
b = [[*a], [*a]]

print(b)

[[1, 2, 3, 4], [1, 2, 3, 4]]

# 4-1 확인문제

### 2번
다음 반복문 내부에 if 조건문의 조건식을 채워서 100 이상의 숫자만 출력하게 만들어 보아라. if 조건문과 for 반복문을 조합하는 코드는 굉장히 많이 사용된다.

```
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if _______ :
    print("- 100 이상의 수 : ", number)
```

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number >= 100:
    print("- 100 이상의 수 : ", number)

- 100 이상의 수 :  273
- 100 이상의 수 :  103
- 100 이상의 수 :  800

### 3번
```
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]
```
홀수인지 짝수인지, 몇 자릿수인지 출력으로 확인하는 프로그램은 만드시오.

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number % 2 == 0:
    print("{}는 짝수이고, {} 자릿수입니다.".format(number, len(str(number))))
  elif number % 2 == 1:
    print("{}는 홀수이고, {} 자릿수입니다.".format(number, len(str(number))))

273는 홀수이고, 3 자릿수입니다.
103는 홀수이고, 3 자릿수입니다.
5는 홀수이고, 1 자릿수입니다.
32는 짝수이고, 2 자릿수입니다.
65는 홀수이고, 2 자릿수입니다.
9는 홀수이고, 1 자릿수입니다.
72는 짝수이고, 2 자릿수입니다.
800는 짝수이고, 3 자릿수입니다.
99는 홀수이고, 2 자릿수입니다.

### 4번
다음 코드의 빈칸을 채워서 실행 결과처럼 출력되도록 완성해보시오.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
  output[ _______ ].append(number)

print(output)
```

실행 결과<br>
[[1,4,7], [2,5,8], [3,6,9]]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
  output[(number % 3) - 1].append(number)

print(output)

# output 내부의 구조(인덱스)를 생각하며 각각 배치를 생각하면 된다.

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### 5번
다음 코드의 빈칸을 채워서 실행 결과처럼 출력되도록 완성해보시오. 짝수 번째 요소를 제곱하는 것이다.

```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(0, len(numbers) // 2):
  # j가 1, 3, 5, 7이 나오려면
  # 어떤 식을 사용해야 할까?
  j = _________
  print(f"i = {i}, j = {j}")
  numbers[j] = numbers[j] ** 2

print(numbers)
```
실행 결과<br>
i = 0, j = 1<br>
i = 1, j = 3<br>
i = 2, j = 5<br>
i = 3, j = 7<br>
[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(0, len(numbers) // 2):   # //는 몫만 나온다.
  # j가 1, 3, 5, 7이 나오려면
  # 어떤 식을 사용해야 할까?
  j = (i * 2) + 1
  print(f"i = {i}, j = {j}")
  numbers[j] = numbers[j] ** 2

print(numbers)

i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]



---



---

# 4-2 딕셔너리와 반복문
* 리스트 : '인덱스를 기반으로 값을 저장하는 것'
* 딕셔너리 : '키를 기반으로 값을 저장하는 것'

```
변수 = {
  키 : 값,
  키 : 값,
  ...
  키 : 값
}
```

값에 리스트도 들어갈 수 있으며, 인덱스를 지정하여 특정 값을 출력할 수도 있다.

### 딕셔너리의 요소에 접근하기

In [ ]:
# 딕셔너리 선언
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

print("name : ", dictionary["name"])
print("type : ", dictionary["type"])
print("ingredient : ", dictionary["ingredient"])
print("origin : ", dictionary["origin"])
print()

# 값 변경하기
dictionary["name"] = "8D 건조 망고"
print("name : ", dictionary["name"])
print("ingredient[1] : ", dictionary["ingredient"][1])

name :  7D 건조 망고
type :  당절임
ingredient :  ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin :  필리핀

name :  8D 건조 망고
ingredient[1] :  설탕

### 딕셔너리에 값 추가하기 / 제거하기
```
딕셔너리[새로운 키] = 새로운 값
```

In [ ]:
# 딕셔너리 선언
dic = {}

# 요소 추가 전
print("요소 추가 이전 : ", dic)

# 딕셔너리에 요소 추가
dic["name"] = "새로운 이름"
dic["head"] = "새로운 정신"
dic["body"] = "새로운 몸"

# 출력
print("요소 추가 이후 : ", dic)

# 딕셔너리의 요소 제거
del dic["body"]
del dic["head"]

print("요소 제거 이후 : ", dic)

요소 추가 이전 :  {}
요소 추가 이후 :  {'name': '새로운 이름', 'head': '새로운 정신', 'body': '새로운 몸'}
요소 제거 이후 :  {'name': '새로운 이름'}

### 딕셔너리 내부에 키가 있는지 확인하기
딕셔너리에 존재하지 않는 키에 접근하면 KeyError가 발생한다.<br><br>
* in 키워드 사용하기
* get( ) 함수 사용하기<br>
 **get( ) 함수**는 존재하지 않는 키에 접근할 경우 KeyError를 발생시키지 않고, None을 출력한다.
* keys( ) 함수 사용하기
<br><br>
### 딕셔너리 값 확인하기
* values( ) 함수 사용하기

In [ ]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

# 사용자로부터 입력을 받는다
key = input(" > 접근하고자 하는 키 : ")

# 출력
if key in dictionary:
  print(dictionary[key])
else:
  print("존재하지 않는 키에 접근하고 있습니다.")

 > 접근하고자 하는 키 : 망고
존재하지 않는 키에 접근하고 있습니다.

### 키가 존재하지 않을 때 None을 출력하는지 확인하기

In [ ]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

# 존재하지 않는 키에 접근해본다.
value = dictionary.get("존재하지 않는 키")
print("값 : ", value)

# None 확인 방법
if value == None:
  print("존재하지 않는 키에 접근했었습니다.")

값 :  None
존재하지 않는 키에 접근했었습니다.

### keys( ) 함수와 values( ) 함수 사용하여 딕셔너리 확인하기

In [ ]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

print(dictionary)
print(dictionary.keys())
print(dictionary.values())
print()

print(dictionary.get("name"))

{'name': '7D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀'}
dict_keys(['name', 'type', 'ingredient', 'origin'])
dict_values(['7D 건조 망고', '당절임', ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], '필리핀'])

7D 건조 망고

### for 반복문과 딕셔너리

In [ ]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

for key in dictionary:
  print(key, ":", dictionary[key])

name : 7D 건조 망고
type : 당절임
ingredient : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin : 필리핀

# 4-2 확인문제

### 2번
딕셔너리와 리스트를 조합하면 다음 코드의 변수 pets처럼 다양한 정보를 축적할 수 있다. 이를 실행 결과처럼 출력되도록 반복문과 print( ) 함수를 조합해보아라.

```
pets = [
  {"name" : "구름", "age" : 5},
  {"name" : "초코", "age" : 3},
  {"name" : "아지", "age" : 1},
  {"name" : "호랑이", "age" : 1}
]

print("# 우리 동네 애완 동물들")
```
실행 결과 <br><br>
우리 동네 애완 동물들<br>
구름  5살<br>
초코  3살<br>
아지  1살<br>
호랑이  1살

In [ ]:
pets = [
  {"name" : "구름", "age" : 5},
  {"name" : "초코", "age" : 3},
  {"name" : "아지", "age" : 1},
  {"name" : "호랑이", "age" : 1}
]
print("# 우리 동네 애완 동물들")

for pet in pets:
  print(pet["name"], str(pet["age"]) + "살")

print()

for pet in pets:
  print(f'{pet["name"]} {pet["age"]}살')

print()

for pet in pets:
  print("{} {}살".format(pet["name"], pet["age"]))

# 우리 동네 애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

구름 5살
초코 3살
아지 1살
호랑이 1살

구름 5살
초코 3살
아지 1살
호랑이 1살

### 3번 ( 여러번 복습 )**
numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성해라

```
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}

for number in numbers:
  코드

print(counter)
```
실행 결과 <br>
{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [ ]:
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}

# 실행 결과 key - 1 2 6 8 4 3 9 5 7
for number in numbers:
  if number in counter:
    counter[number] = counter[number] + 1
  else:
    counter[number] = 1

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

### 4번 ( 여러번 복습 ) ** 딕셔너리 안 딕셔너리와 리스트 추출하기
파이썬은 다음과 같은 방법으로 특정 값이 어떤 자료형인지 확인할 수 있다.<br>
type("문자열") is str --> 문자열인지 확인<br>
type([]) is list --> 리스트인지 확인<br>
type({}) is dict --> 딕셔너리인지 확인<br>
<br>
이를 활용하여 빈칸을 채워 실행 결과와 같이 출력되게 만드시오.

```
character = {
    "name" : "기사",
    "level" : 12,
    "item" : {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill" : ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
  빈칸
```
실행 결과<br>
name : 기사<br>
level : 12<br>
sword : 불꽃의 검<br>
armor : 풀플레이트<br>
skill : 베기<br>
skill : 세게 베기<br>
skill : 아주 세게 베기<br>

In [ ]:
character = {
    "name" : "기사",
    "level" : 12,
    "item" : {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill" : ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:     # 딕셔너리를 for 반복문으로 돌릴 때 반복인자는 "KEY"가 된다!!!***
  if type(character[key]) is dict:
    for dic in character[key]:  # 여기에서 character[key]는 딕셔너리!
      print(dic, " : ", character[key][dic])

  elif type(character[key]) is list:
    for lis in character[key]:  # 여기에서 character[key]는 리스트!
      print(key, " : ", lis)

  else:
    print(key, " : ", character[key])

name  :  기사
level  :  12
sword  :  불꽃의 검
armor  :  풀플레이트
skill  :  베기
skill  :  세게 베기
skill  :  아주 세게 베기

In [ ]:
# 정답지
# 딕셔너리 선언
character = {
    "name" : "기사",
    "level" : 12,
    "item" : {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill" : ["베기", "세게 베기", "아주 세게 베기"]
}

In [ ]:
for key in character:
    if type(character[key]) is str:
        print(key + " : " + character[key])
    elif type(character[key]) is int:
        print(key + " : " + str(character[key]))
    elif type(character[key]) is dict:
        for di in character[key]:
            print(di + " : " + character[key][di])
    elif type(character[key]) is list:
        for li in character[key]:
            print(key + " : " + li)

name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

# 4-3 범위 자료형과 while 반복문
for 반복문과 함께 많이 사용되는 자료형을 하나 더 꼽자면 **범위(range)**가 있다.

### 범위 range( )함수
cf) 매개변수는 "정수"이다.
1. range(A) -> 0부터 (A-1)까지의 정수로 범위를 만든다.
2. range(A, B) -> A 부터 (B - 1)까지의 정수로 범위를 만든다.
3. range(A, B, C) -> A 부터 (B - 1)까지의 정수로 범위를 만들고, 앞뒤의 숫자가 C 만큼의 차이를 가진다.

In [ ]:
a = range(5)

b = list(range(4))

print(a)
print(b)

range(0, 5)
[0, 1, 2, 3]

### for 반복문 : 범위와 함께 사용하기
```
for 숫자 변수 in 범위:
  코드
```

In [ ]:
for i in range(5):
  print(i, end="\t")

print()

for i in range(5,10):
  print(i, end="\t")

print()

for i in range(0,10,2):
    print(i, end="\t")

0	1	2	3	4
5	6	7	8	9
0	2	4	6	8

### for 반복문 : 리스트와 범위 조합하기

In [ ]:
array = [273, 32, 103, 57, 52]

for i in range(len(array)):
  print("{}번째 반복 : {}".format(i, array[i]))

0번째 반복 : 273
1번째 반복 : 32
2번째 반복 : 103
3번째 반복 : 57
4번째 반복 : 52

### for 반복문 : 반대로 반복하기 (역반복문)

In [ ]:
array = [273, 32, 103, 57, 52]

for i in range(len(array) - 1, 0 - 1, -1):    # 0 - 1을 넣어주는 이유: 0이면 0-1까지만 출력하기 때문!!
  print("{}번째 반복 : {}".format(i, array[i]))

4번째 반복 : 52
3번째 반복 : 57
2번째 반복 : 103
1번째 반복 : 32
0번째 반복 : 273

In [ ]:
# reversed()함수 사용하는 방법

for i in reversed(range(5)):
  print("현재 반복 변수 : {}".format(i))

현재 반복 변수 : 4
현재 반복 변수 : 3
현재 반복 변수 : 2
현재 반복 변수 : 1
현재 반복 변수 : 0

In [ ]:
array = [273, 32, 103, 57, 52]

print(list(reversed(array)))
print(array)

# reversed( ) 함수는 비파괴적 함수!!

[52, 57, 103, 32, 273]
[273, 32, 103, 57, 52]

### 중첩 반복문으로 피라미드 만들기

### 제일 쉬운 삼각형

In [ ]:
output = "*"

for i in range(1, 10):
  print(output * i)

print()

for a in range(1,10):
    print("*"*a)

*
**
***
****
*****
******
*******
********
*********

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# '*' 연산자 사용하지 않고 만들기
for a in range(1,10):
    for b in range(a):
        print("*",end="")
    print("")

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# 함수에 넣어서 만들어보기
output = ""

for i in range(1,10):
    for j in range(0,i):
        output = output + "*"
    output = output + "\n"

print(output)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# for문 활용 range함수 개념 복습...
for i in range(0,5,1):
    print("+")
for j in range(30,25,-1):
    print("-")

+
+
+
+
+
-
-
-
-
-

### 이등변 삼각형

In [ ]:
# 출력 변수 없이 만들기..
for a in range(1, 15):
  for b in range(15 - a, -1, -1):
    print(" ", end="")

  print("*" * (2*a-1))
  print()

# 따로 변수만 불러서 삼각형을 불러오려면 변수를 지정해서 연산하는 것이 좋다.

               *

              ***

             *****

            *******

           *********

          ***********

         *************

        ***************

       *****************

      *******************

     *********************

    ***********************

   *************************

  ***************************

In [ ]:
# 이등변 삼각형 피라미드 (1 내가 푼 방식)
output = ""

for i in range(1,15):
    for j in range(14,i,-1):
        output = output + " "
    output = output + ("*"*(2*i-1))
    output = output + "\n"

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

In [ ]:
# 변수 만들어서 적용해보기 (복습)
output = ""

for a in range(1,15):
  for b in range(14, a, -1):
    output = output + " "
  output = output + ("*" * (2 * a -1))
  output = output + "\n"

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

In [ ]:
# 이등변 삼각형 피라미드 (2 교재)
output = ""

for i in range(1,15):
    for j in range(14,i,-1):
        output += ' '
    for k in range(0, 2 * i - 1):
        output += '*'
    output += '\n'

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

### while 반복문
* for문 : 특정 횟수만큼 반복하는 경우에 사용
* while문 : 범용적으로 사용할수 있음, 특정 횟수가 아니라 특정 조건만큼 반복할 때 사용

```
while 불 표현식:
  코드
```
 **break가 걸리지 않으면 무한반복을 할 수 있기 때문에 조심해야한다!!**

### while 반복문을 for 반복문처럼 사용하기

In [ ]:
i = 0

while i < 10:
  print("{}번째 반복입니다.".format(i))
  i = i + 1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

### while 반복문 : 상태를 기반으로 반복하기

### 해당하는 값 모두 제거하기

In [ ]:
list_test = [1,2,1,2]
value = 2

while value in list_test:
  list_test.remove(value)

print(list_test)

[1, 1]

### while 반복문 : 시간을 기반으로 반복하기
시간을 기반으로 반복하려면 유닉스 타임이라는 개념을 알아야 한다.<br>
* 유닉스 타임(Unix Time) : 세계 표준시. (1970년 1월 1일 0시 0분 0초를 기준으로 몇 초가 지났는지를 정수로 나타낸 것)

In [ ]:
# while문과 유닉스 타임(UTC)을 이용
# 5초 동안 반복하기
import time

number = 0

target_tick = time.time() + 5   # time.time()은 코드를 실행한 경우 지금의 초단위를 나타내고,
                                # time.time() + 5 를 할 경우, 실행하고 5초의 갭을 만들어 낸다.

while time.time() < target_tick:
    number += 1

print("5초 동안 {}번 반복했습니다.".format(number))
print(time.time())
print(time.time()+5)

5초 동안 17670270번 반복했습니다.
1692619329.2172835
1692619334.2178998

### while 반복문 : break 키워드 / continue 키워드
* break 키워드 : 반복문을 벗어날 때 사용
* continue 키워드 : 현재 반복을 생략하고, 다음 반복으로 넘어갈 때 사용

In [ ]:
i = 0

while True:  # 무한 반복으로 시작
  print("{}번째 반복문입니다.".format(i))
  i = i + 1

  # 반복을 종료할 코드
  input_test = input("> 종료하시겠습니까?(y/n) : ")

  if input_test in ["y", "Y"]:
    print("반복을 종료합니다.")
    break

0번째 반복문입니다.
> 종료하시겠습니까?(y/n) : 1
1번째 반복문입니다.
> 종료하시겠습니까?(y/n) : 2
2번째 반복문입니다.
> 종료하시겠습니까?(y/n) : n
3번째 반복문입니다.
> 종료하시겠습니까?(y/n) : t
4번째 반복문입니다.
> 종료하시겠습니까?(y/n) : y
반복을 종료합니다.

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]
count = 0

for number in numbers:
  count = count + 1
  if number < 10:
    continue

  print("number : ", number)
print("총 반복 횟수 : ", count)

number :  15
number :  20
number :  25
총 반복 횟수 :  6

# 4-3 확인문제

### 2번
빈칸을 채워 키와 값으로 이루어진 각 리스트를 조합해 하나의 딕셔너리를 만들어 보시오.
```
# 숫자는 무작위로 입력해도 상관없습니다.
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

빈칸

print(character)
```
실행 결과 <br>
{'name' : '기사', 'hp' : 200, 'mp' : 30, 'level' : 5}

In [ ]:
# 복습
# 숫자는 무작위로 입력해도 상관없습니다.
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(len(key_list)):
  character[key_list[i]] = value_list[i]

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
# 답안
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]

character = {}

In [ ]:
for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

### 3번
1부터 숫자를 하나씩 증가시키면서 더하는 경우를 생각해보자. 몇을 더할 때 1000을 넘는지 구해보자. 그리고 그때의 값도 출력해보자. 다음은 10000이 넘는 경우를 구한 예이다.<br><br>

1, 1 + 2 = 3, 1 + 2 + 3 = 6, 1 + 2 + 3 + 4 = 10 ... <br><br>

```
limit = 10000
i = 1

# sum은 파이썬 내부에서 사용하는 식별자이므로 sum_value라는 변수 이름을 사용한다.

빈칸

print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit, sum_value))
```
실행 결과 <br>
141을 더할 때 10000을 넘으며 그때의 값은 10011 입니다.

In [ ]:
# 3-3 연습문제 (성민)
# 리스트를 활용하여 해보기

limit = 10000
i = 1
li = []

while True:
    li.append(i)
    i = i + 1
    sum_value = sum(li)
    if sum_value > limit:
        break

print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit, sum_value))

141를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

In [ ]:
# 복습!!
limit = 10000
i = 1

# sum은 파이썬 내부에서 사용하는 식별자이므로 sum_value라는 변수 이름을 사용한다.
sum_value = 0

while True:
  sum_value = sum_value + i
  i = i + 1

  if sum_value > limit:
    break

print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit, sum_value))

141를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

In [ ]:
# 3-3 연습문제 (답안)
limit = 10000
i = 1

sum_value = 0
while True:
    sum_value = sum_value + i  # 수식에 대한 이해.. 많이 사용하여 이용해보자
    i = i + 1
    if sum_value > limit:
        break

print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit, sum_value))

141를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

### 4번
1부터 100까지의 숫자가 있다고 하자. 이를 다음과 같이 계산한다고 했을 때, 최대가 되는 경우는 어떤 숫자를 곱했을 때인지를 찾아보자.
```
1 * 99, 2 * 98, 3 * 97, 4 * 96, ...
```
```
max_value = 0
a = 0
b = 0

for i in _____ :
  j = 100 - i

# 최댓값 구하기
빈칸

print("최대가 되는 경우 : {} * {} = {}".format(a, b, max_value))
```
실행 결과<br>
최대가 되는 경우 : 50 * 50 = 2500

In [ ]:
# 3-4 연습문제(성민) # 다시 풀어보기!!
# 1부터 100까지 두개의 곱이 가장 클 때를 구하기
max_value = 0
a = 0
b = 0

for i in range(1,100):
    j = 100 - i

    # 최대값 구하기
    current = j * i

    if max_value < current:
        max_value = current
        a = i
        b = j

print("최대가 되는 경우 : {} * {} = {}".format(a,b,max_value))

최대가 되는 경우 : 50 * 50 = 2500

In [ ]:
## 복습!!

max_value = 0
a = 0
b = 0

for i in range(1, 100) :
  j = 100 - i

  # print("{} * {} = {}".format(i, j, i*j))
  # 최댓값 구하기
  if i * j > max_value:
    max_value = i * j
    a = i
    b = j

print("최대가 되는 경우 : {} * {} = {}".format(a, b, max_value))

최대가 되는 경우 : 50 * 50 = 2500

# 4-4 문자열, 리스트, 딕셔너리와 관련된 기본 함수
* 리스트에 적용할 수 있는 기본 함수 : min( ), max( ), sum( )
* 리스트 뒤집기 : reversed( )
* 현재 인덱스가 몇 번째인지 확인하기 : enumerate( )
* 딕셔너리로 쉽게 반복문 작성하기 : items( )
* 리스트 안에 for문 사용하기 : 리스트 내포

### reversed( ) 함수로 리스트 뒤집기

In [ ]:
# reversed() 함수

# 리스트를 선언하고 뒤집는다.
list_a = [1,2,3,4,5]
list_reversed = reversed(list_a)

print("# reversed() 함수")
print("reversed([1,2,3,4,5]) : ", list_reversed) # 주소가 출력된다. 힙(heap)의 개념 알기!!!***
print("list_reversed : ", reversed(list_a))
print("list(reversed([1,2,3,4,5])) : ", list(list_reversed))
print()

# 반복문 적용해보자.
for i in reversed([1,2,3,4,5]):
    print("=",i)

# reversed() 함수
reversed([1,2,3,4,5]) :  <list_reverseiterator object at 0x7af8e5e1b250>
list_reversed :  <list_reverseiterator object at 0x7af8e5e1ada0>
list(reversed([1,2,3,4,5])) :  [5, 4, 3, 2, 1]

= 5
= 4
= 3
= 2
= 1



---



---

# 이해 필요!!

```
temp = reversed([1,2,3,4,5,6])

for i in temp:
  print("첫 번째 반복문 : {}".format(temp))

for i in temp:
  print("두 번째 반복문 : {}".format(temp))
```
코드를 실행하면 "첫 번째 반복문" 부분만 실행되고 "두 번째 반복문" 부분은 전혀 출력되지 않는다.<br><br>

reversed( ) 함수의 결과가 **제너레이터**이기 때문!!<br>
함수의 결과가 **제너레이터** 일 때, 반복문을 조합할 때는 함수의 결과를 여러번 활용하지 않고 다음과 같이 for 구문 내부에 함수를 곧바로 넣어서 사용한다!!

```
numbers = [1,2,3,4,5,6]

for i in reversed(numbers):
  print("첫 번째 반복문 : {}".format(temp))

for i in reversed(numbers):
  print("두 번째 반복문 : {}".format(temp))
```

In [ ]:
temp = reversed([1,2,3,4,5,6])

for i in temp:
  print("첫 번째 반복문 : {}".format(temp))

for i in temp:
  print("두 번째 반복문 : {}".format(temp))

첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>

In [ ]:
numbers = [1,2,3,4,5,6]

for i in reversed(numbers):
  print("첫 번째 반복문 : {}".format(temp))

for i in reversed(numbers):
  print("두 번째 반복문 : {}".format(temp))

첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
첫 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
두 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
두 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
두 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
두 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
두 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>
두 번째 반복문 : <list_reverseiterator object at 0x7c156e3c7640>



---



---

### enumerate( ) 함수와 반복문 조합하기
* 현재 인덱스가 몇 번째인지 확인해야 하는 경우에 사용
* 반복인자를 두 개 사용 가능하다!!

In [ ]:
example_list = ["A", "B", "C"]

print(example_list)
print(enumerate(example_list))
print()

for i in example_list:
    print(i)
print()

for i,j in enumerate(example_list):
    print("{}번쨰 요소 {}".format(i,j))
print()

for i in range(len(example_list)):
    print("{}번째 요소 {}".format(i,example_list[i]))

['A', 'B', 'C']
<enumerate object at 0x7c1551c24ec0>

A
B
C

0번쨰 요소 A
1번쨰 요소 B
2번쨰 요소 C

0번째 요소 A
1번째 요소 B
2번째 요소 C

In [ ]:
# enumerate() 함수와 리스트
example_list = ["요소A","요소B","요소C"]

print("# 단순출력")
print(example_list)
print()

# enumerate() 함수 적용 출력
print("# enumerate() 함수 적용 출력")
print(enumerate(example_list)) # --> 주소를 출력
print()

# list() 함수로 강제 변환해 출력하기
print("list()함수를 이용하여 강제로 출력하기")
print(list(enumerate(example_list))) # 튜플 형식으로 인덱스와 값을 강제로 출력!!
print()

# for 반복문과 enumerate() 함수 조합해서 사용하기
print("# 반복문과 조합하기")
for i, value in enumerate(example_list):
    # enumerate() 함수를 사용하면 반복 변수를 두개 사용 가능하다. (인덱스, 값)
    print("{}번째 요소는 {}입니다.".format(i,value))

# 단순출력
['요소A', '요소B', '요소C']

# enumerate() 함수 적용 출력
<enumerate object at 0x7c1551c25000>

list()함수를 이용하여 강제로 출력하기
[(0, '요소A'), (1, '요소B'), (2, '요소C')]

# 반복문과 조합하기
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

### 이터레이터와 튜플 **
위의 예제들의 실행 결과를 보면 reversed( ) 함수, enumerate( ) 함수의 결과가 곧바로 리스트로 출력되지 않고 <list_reverseiterator object at 0x7af8e5e1b250>, <enumerate object at 0x0000020A010EF580> 등으로 나오는 볼 수 있다. **이터레이터**에 관한 개념

### 딕셔너리의 items( ) 함수와 반복문 조합하기
* for i, value in enumerate(리스트)
* for key, value in 딕셔너리.items( )

In [ ]:
# 딕셔너리의 items() 함수와 반복문 // 딕셔너리는 items()함수와 같이 사용가능
example_dic = {
    "키A" : "값A",
    "키B" : "값B",
    "키C" : "값C"
    }


# 딕셔너리의 items() 함수 결과 출력해보기
print("# 딕셔너리의 items() 함수")
print("items() : ", example_dic.items())
# 딕셔너리의 키와 값을 리스트안의 튜플형식으로 보여줌
print()

# for 반복문과 items() 함수 조합해서 사용해보기
print("# 딕셔너리의 items() 함수와 반복문 조합하기")
for key, element in example_dic.items():
    # items() 함수를 적용시 반복변수 두개를 쓸 수 있다. (키,값)
    print("dictionary[{}] = {}".format(key,element))

# 딕셔너리의 items() 함수
items() :  dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

# 딕셔너리의 items() 함수와 반복문 조합하기
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C

In [ ]:
# 반복문을 사용한 리스트 생성
array = []

for i in range(0, 20, 2):
    array.append(i*i)
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

### 리스트 내포 **
프로그램을 만들 때는 반복문을 사용해 리스트를 재조합하는 경우가 많다.<br>

for문 한줄 표현 방식 예시
```
i*i for i in range(0,10)
```

```
리스트 이름 = [ 표현식 for 반복자 in 반복할 수 있는 것]
리스트 이름 = [ 표현식 for 반복자 in 반복할 수 있는 것 if 조건문]

# 가독성을 위해 줄바꿈하여 선언하기
리스트 이름 = [ 표현식
            for 반복자 in 반복할 수 있는 것
            if 조건문 ]
```
최종 결과를 앞에 작성한다!

In [ ]:
# 반복문을 통한 리스트 생성방법
array = []

for i in range(0,20,2):
  array.append(i*i)

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
## 리스트 내포
# 리스트 안에 for문 사용하기 **
array = [i*i for i in range(0,20,2)]
print(array)

# 리스트 이름 = [표현식 for 반복자 in 반복할 수 있는 것 if 조건문] *****

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# 조건을 활용한 리스트 내포
array2 = ["사과", "자두", "초콜릿", "바나나", "체리"]

output = [fruit for fruit in array2 if fruit != "초콜릿"]   # array2 리스트 내의 "초콜릿" 값만 빼고 output 변수에 저장하겠다라는 의미.
print(output)

['사과', '자두', '바나나', '체리']



---



---

# 좀더 알아보기 1
# 구문 내부에 여러 줄 문자열을 사용했을 때 문제점

In [ ]:
number = int(input("정수 입력 > "))

if number % 2 == 0:
  print("""\
  입력한 문자열은 {}입니다.
  {}는 짝수입니다.""".format(number, number))
else:
  print("""\
  입력한 문자열은 {}입니다.
  {}는 홀수입니다.""".format(number, number))

## 출력의 결과에 들여쓰기가 적용된 것을 볼 수 있다!!

정수 입력 > 123
  입력한 문자열은 123입니다.
  123는 홀수입니다.

In [ ]:
number = int(input("정수 입력 > "))

if number % 2 == 0:
  print("""입력한 문자열은 {}입니다.
{}는 짝수입니다.""".format(number, number))
else:
  print("""입력한 문자열은 {}입니다.
{}는 홀수입니다.""".format(number, number))

## 출력의 결과가 들여쓰기가 적용되지 않지만, 코드 구조가 이상하다!!

정수 입력 > 123
입력한 문자열은 123입니다.
123는 홀수입니다.

In [ ]:
number = int(input("정수 입력 > "))

if number % 2 == 0:
  print("입력한 문자열은 {}입니다.\n{}는 짝수입니다.".format(number, number))
else:
  print("입력한 문자열은 {}입니다.\n{}는 홀수입니다.".format(number, number))

## 출력의 결과가 들여쓰기가 적용되지 않지만, 긴 코드가 한줄로 되어있어 복잡해보인다!!

정수 입력 > 123
입력한 문자열은 123입니다.
123는 홀수입니다.

### 괄호로 문자열 연결하기

In [ ]:
test = (
    "이렇게 입력해도 "
    "하나의 문자열로 연결되어 "
    "생성됩니다."
)

print("test : ", test)
print("type(test) : ", type(test))

# 변수 test의 자료형이 '튜플'이라고 생각할 수 있는데,
# '튜플'은 괄호 내부의 문자열이 쉼표( , )로 연결되어야 '튜플'이다!!

# 이를 활용해보자!!
number = int(input("정수 입력 > "))

if number % 2 == 0:
  print(
      ("입력한 문자열은 {}입니다.\n"
        "{}는 짝수입니다."
      ).format(number, number)
  )
else:
  print(
      ("입력한 문자열은 {}입니다.\n"
        "{}는 홀수입니다."
      ).format(number, number)
  )

## 출력의 결과가 들여쓰기가 적용되지 않지만, 긴 코드가 한줄로 되어있어 복잡해보인다!!

test :  이렇게 입력해도 하나의 문자열로 연결되어 생성됩니다.
type(test) :  <class 'str'>
정수 입력 > 123
입력한 문자열은 123입니다.
123는 홀수입니다.

### 문자열의 join( ) 함수
```
문자열.join(문자열로 구성된 리스트)
```

In [ ]:
print("::".join(["1","2","3","4","5"]))
print("AB".join(["일", "이", "삼", "사", "오"]))

# "문자열"이 join 매개변수로 넣는 리스트 값들의 사이로 들어가게 된다!
# 마지막 인덱스의 값 뒤에는 들어가지 않는다!!

# 이를 활용해보자!!
number = int(input("정수 입력 > "))

if number % 2 == 0:
  print("\n".join(["입력한 문자열은 {}입니다.",
                   "{}는 짝수입니다."]).format(number, number)
  )
else:
  print("\n".join(["입력한 문자열은 {}입니다.",
                   "{}는 홀수입니다."]).format(number, number)
  )

1::2::3::4::5
일AB이AB삼AB사AB오
정수 입력 > 123
입력한 문자열은 123입니다.
123는 홀수입니다.

# 좀더 알아보기 2
# 이터레이터
반복문의 구문은 다음과 같다.
```
for 반복자 in 반복할 수 있는 것
```
여기서 '반복할 수 있는 것'을 프로그래밍 용어로 **이터러블(iterable)**이라고 한다.<br>
즉 이터러블은 내부에 있는 요소들을 차례차례 꺼낼 수 있는 **객체**를 의미한다.<br>
리스트, 딕셔너리, 문자열, 튜플 등은 모두 내부에서 요소를 차례차례 꺼낼 수 있으므로 이터러블이다.<br>
이터러블 중에서 ```next()``` 함수를 적용해 하나하나 꺼낼 수 있는 요소를 **이터레이터(iterator)**라고 한다.

### reversed( ) 함수와 이터레이터

In [ ]:
numbers = [1,2,3,4,5,6]
r_num = reversed(numbers)

print("reversed_numbers : ", r_num)
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))

reversed_numbers :  <list_reverseiterator object at 0x7e0a71346f80>
6
5
4
3
2
1

reversed 함수를 사용했을 때 <list_reverseiterator object at 주소>를 출력한다. <br>
reversed( ) 함수의 리턴값이 바로 'reverseiterator'로 '이터레이터'이다.<br>
이와 같은 이터레이터는 반복문의 매개변수로 전달할 수 있으며, 현재 코드처럼 next( ) 함수로 내부의 요소를 하나하나 꺼낼 수 있다.<br><br>

for 반복문의 매개변수에 넣으면 반복할 때마다 next( ) 함수를 사용해서 요소를 하나하나 꺼내주는 것이다.<br><br>

그렇다면 왜 reversed( ) 함수는 리스트를 바로 리턴해 주지 않고 이터레이터를 리턴해주는 것일까?? <br><br>

이는 **메모리의 효율성**을 위해서이다. 만약 1만 개의 요소가 들어 있는 리스트라면 복제한 뒤 뒤집어서 리턴하는 것보다 기존에 있던 리스트를 활용해서 작업하는 것이 훨씬 효율적이라고 판단하기 때문이다!!



---



---

# 4-4 확인문제

### 2번
2진수, 8진수, 16진수로 변환하는 코드는 많이 사용된다. **알아두기**
```
# 10진수와 2진수 변환
"{:b}".format(10)
출력 : '1010'
int("1010", 2)
출력 : 10

# 10진수와 8진수 변환
"{:o}".format(10)
출력 : '12'
int("12", 8)
출력 : 10

# 10진수와 16진수 변환
"{:x}".format(10)
출력 : 'a'
int("10", 16)
출력 : 16
```
이외에도 bin( ), oct( ), hex( )라는 함수를 사용하는 방법도 있지만, format( ) 함수를 사용하는 방법이 더 유연해서 편리한 경우가 많다!<br><br>

추가로 반복 가능한 객체(문자열, 리스트, 범위 등)의 count( ) 함수는 다음과 같이 사용한다.
```
"안녕안녕하세요".count("안")
출력 : 2
```


---


이를 활용하여 1 ~ 100 사이에 있는 숫자 중 2진수로 변환했을 때 0이 하나만 포함된 숫자를 찾고, 그 숫자들의 합을 구하는 코드를 만들어보자.
```
# 리스트 내포를 사용해본 코드
output = ______________

for i in _____ :
  print("{} : {}".format(i, "{:b}".format(i)))

print("합계 : ", sum(output))
```
실행결과 <br>
2 : 10 <br>
5 : 101<br>
6 : 110<br>
11 : 1011<br>
...<br>
62 : 111110<br>
95 : 1011111<br>
합계 : 539

In [ ]:
# 복습!
# 리스트 내포를 사용해본 코드
output = [result
          for result in range(1, 100 + 1)
          if "{:b}".format(result).count("0") == 1]

for i in output :
  print("{} : {}".format(i, "{:b}".format(i)))

print("합계 : ", sum(output))

2 : 10
5 : 101
6 : 110
11 : 1011
13 : 1101
14 : 1110
23 : 10111
27 : 11011
29 : 11101
30 : 11110
47 : 101111
55 : 110111
59 : 111011
61 : 111101
62 : 111110
95 : 1011111
합계 :  539

In [ ]:
# 4장 마무리 문제
# 1~100 사이에 있는 숫자 중 2진수로 변환했을 때
# 0이 하나만 포함된 숫자를 찾고, 그 숫자들의 합을 구하는 코드를 만들어보자.
# 리스트 내포를 이용

output = [value
          for value in range(1,101)
          if "{:b}".format(value).count('0') == 1]

for i in output:
    print("{} : {}".format(i, "{:b}".format(i)))
print("합계 = ", sum(output))

2 : 10
5 : 101
6 : 110
11 : 1011
13 : 1101
14 : 1110
23 : 10111
27 : 11011
29 : 11101
30 : 11110
47 : 101111
55 : 110111
59 : 111011
61 : 111101
62 : 111110
95 : 1011111
합계 =  539

# 4장 끝난 후의 도전문제

### 1번 숫자의 종류
다음 리스트에서 몇 가지 종류의 숫자가 사용되었는지 구하는 프로그램을 만들어 보시오. 1,2,3,4가 사용되었으므로 4개가 사용되었다고 출력하면 된다.
* [1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]
실행 결과
[1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]에서<br>
사용된 숫자의 종류는 4개 입니다.<br>
참고 : {1: 4, 2: 3, 3: 3, 4: 2}

In [ ]:
# 복습!!
numbers = [1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]
dic = {}

for number in numbers:
  if number in dic:   # 반복할 수 있는 것에 딕셔너리가 들어간다면 키값만 내놓는다. 값은 내놓지 않음.
    dic[number] = dic[number] + 1
  else:
    dic[number] = 1

print(
    ("{}에서\n"
    "사용된 숫자의 종류는 {}개입니다.").format(numbers, len(dic.keys()))
)

print("참고 : ", dic)

# 딕셔너리 공부!!
for i in dic:
  print("dic : ", i)  # 이런듯 반복자는 딕셔너리의 키값만 내놓는다!!

[1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]에서
사용된 숫자의 종류는 4개입니다.
참고 :  {1: 4, 2: 3, 3: 3, 4: 2}
dic :  1
dic :  2
dic :  3
dic :  4

In [ ]:
# 1.숫자의 종류
# 다음 리스트에서 몇 가지 종류의 숫자가 사용되었는지 구하는 프로그램 만들기
# 1,2,3,4가 사용되었으므로 4개가 사용되었다고 출력하면 된다.
# [1,2,3,4,1,2,3,1,4,1,2,3]
a = [1,2,3,4,1,2,3,1,4,1,2,3]
dic = {}

for number in a:
    if number in dic:
        dic[number] = dic[number] + 1
    else:
        dic[number] = 1
print(dic)
print("{}에서 /n 사용된 숫자의 종류는 {}개 입니다.".format(a,len(dic)))

{1: 4, 2: 3, 3: 3, 4: 2}
[1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]에서 /n 사용된 숫자의 종류는 4개 입니다.

### 2번 염기의 개수
우리 몸은 DNA라는 설계도에 의해 만들어진다.<br>
DNA는 A(아데닌), T(티민), G(구아닌), C(사이토신)이라는 4가지 요소로 구성되는 리스트라고 볼 수 있다.<br>
염기 서열을 입력했을 때 각각의 염기가 몇 개 포되어 있는지 세는 프로그램을 구현해보자.<br>

`ctacaatgtcagtatacccattgcattagccgg`
염기 서열을 입력했을 때 각각의 염기가 몇 개 포함되어 있는지 세는 프로그램을 구현해보자.<br><br>

실행 결과<br>
염기의 서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccgg<br>
a의 개수 : 9<br>
t의 개수 : 9<br>
g의 개수 : 6<br>
c의 개수 : 9

In [ ]:
# 복습!!
dna = input("염기의 서열을 입력해주세요 : ")
dic2 = {}

for i in dna:
  if i in dic2:
    dic2[i] = dic2[i] + 1
  else:
    dic2[i] = 1

print(
    ("a의 개수 : {}\n"
    "t의 개수 : {}\n"
    "g의 개수 : {}\n"
    "c의 개수 : {}").format(dic2["a"], dic2["t"], dic2["g"], dic2["c"])
)

염기의 서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccgg
a의 개수 : 9
t의 개수 : 9
g의 개수 : 6
c의 개수 : 9

In [ ]:
# 2.염기의 개수
# 우리 몸은 DNA라는 설계도에 의해 만들어진다.
# DNA는 A(아데닌), T(티민), G(구아닌), C(사이토신)이라는 4가지 요소로 구성되는 리스트라고 볼 수 있다.
# 염기 서열을 입력했을 때 각각의 염기가 몇 개 포되어 있는지 세는 프로그램을 구현해보자.
# "ctacaatgtcagtatacccattgcattagccgg"

# 예)
exam = "ctacaatgtcagtatacccattgcattagccgg"
a = t = g = c = 0

for i in exam:
    if i == "a":
        a = a + 1
    if i == "t":
        t = t + 1
    if i == "g":
        g = g + 1
    if i == "c":
        c = c + 1
# print((
#     "a의 개수 : {} "
#     "t의 개수 : {} "
#     "g의 개수 : {} "
#     "c의 개수 : {}").format(a,t,g,c)
# )
print("a의 개수 : {}".format(a))
print("t의 개수 : {}".format(t))
print("g의 개수 : {}".format(g))
print("c의 개수 : {}".format(c))
print()
# -----------------------------
# 딕셔너리를 이용 (정답지 유사하게)
dic = {
    "a" : 0,
    "t" : 0,
    "g" : 0,
    "c" : 0
}

second = input("염기 서열을 입력해 주세요 : ")
for i in second:
    if i in dic:
        dic[i] = dic[i] + 1
    else:
        dic[i] = 1
print("a의 개수 : {}".format(dic["a"]))
print("t의 개수 : {}".format(dic["t"]))
print("g의 개수 : {}".format(dic["g"]))
print("c의 개수 : {}".format(dic["c"]))
print()
# -----------------------------
# 정답지
nucleos = input("염기 서열을 입력해주세요: ")
counter = {
    "a" : 0,
    "t" : 0,
    "g" : 0,
    "c" : 0
}

for nucleo in nucleos:
    counter[nucleo] += 1

for key in counter:
    print(f"{key}의 개수 : {counter[key]}")

a의 개수 : 9
t의 개수 : 9
g의 개수 : 6
c의 개수 : 9

a의 개수 : 3
t의 개수 : 5
g의 개수 : 9
c의 개수 : 5

a의 개수 : 3
t의 개수 : 5
g의 개수 : 9
c의 개수 : 5

### 3번 염기 코돈 개수
코돈(codon)의 개수를 세는 프로그램을 만들어보자.<br>
염기 서열은 일반적으로 3개씩 묶여서 하나의 의미를 나타낸다.<br>
즉, `ctacaatgtcagtatacccattgcattagccgg` 과 같은 염기 서열이 있다면<br>
cta / caa / tgt / ... / cgg 이렇게 3개씩 나뉘어서 의미를 갖는다.<br><br>

실행 결과<br>
염기 서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccgg <br>
{'cta' : 1, 'caa' : 1, 'tgt' : 1, 'cag' : 1, 'tat' : 1, 'acc' : 1, 'cat' : 1, 'tgc' : 1, 'att' : 1, 'agc' : 1, 'cgg' : 1}

In [ ]:
# 복습!!
codon = input("염기 서열을 입력해세요 : ")
dic = {}

for i in range(0, len(codon), 3):
  if codon[i] + codon[i+1] + codon[i+2] in dic:
    dic[codon[i] + codon[i+1] + codon[i+2]] = dic[codon[i] + codon[i+1] + codon[i+2]] + 1
  else:
    dic[codon[i] + codon[i+1] + codon[i+2]] = 1

print(dic)

# 이렇게 코드를 작성할 경우, codon의 길이가 3의배수가 아닐 시, 인덱스 오류가 발생하게 된다.
# 따라서 아래 복습2 에 보안하였다.

염기 서열을 입력해세요 : ctacaatgtcagtatacccattgcattagccgg
{'cta': 1, 'caa': 1, 'tgt': 1, 'cag': 1, 'tat': 1, 'acc': 1, 'cat': 1, 'tgc': 1, 'att': 1, 'agc': 1, 'cgg': 1}

In [7]:
# 복습 2!!!
nucleos = input("염기서열을 입력해주세요 : ")
dic = {}

for i in range(0, len(nucleos), 3):
  codon = nucleos[i:i + 3]

  if codon in dic:
    dic[codon] = dic[codon] + 1
  elif len(codon) == 3:
    dic[codon] = 1

print(dic)

염기서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccggctacaatgtcagtatacccattgcattagccggaa
{'cta': 2, 'caa': 2, 'tgt': 2, 'cag': 2, 'tat': 2, 'acc': 2, 'cat': 2, 'tgc': 2, 'att': 2, 'agc': 2, 'cgg': 2}

In [ ]:
# 3.염기 코돈 개수
# 이번에는 코돈의 개수를 세는 프로그램을 만들어보자.
# 염기 서열은 일반적으로 3개씩 묶여서 하나의 의미를 나타낸다.
# 염기 서열을 입력했을 때 어떤 코돈이 몇 개 존재하는지 다음과 같이 출력하는 프로그램을 구현해보자.

# 염기 서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccgg
# {'cta' : 1, 'caa' : 1, 'tgt' : 1, 'cag' : 1, 'tat' : 1, 'acc' : 1, 'cat' : 1, 'tgc' : 1, 'att' : 1, 'agc' : 1, 'cgg' : 1}

dic = {}

a = input("염기 서열을 입력해주세요 : ")

for i in range(1,len(a)+1):
    if (i % 3) == 0:
        if a[i-3:i] in dic:
            dic[a[i-3:i]] = dic[a[i-3:i]] + 1
        else:
            dic[a[i-3:i]] = 1

print(dic)

print()

# 정답지
nucleos = input("염기 서열을 입력해주세요 : ")
counter = {}

for i in range(0,len(nucleos),3):
    codon = nucleos[i:i+3]

    if len(codon) == 3:
        if codon not in counter:
            counter[codon] = 0
        counter[codon] = counter[codon] + 1

print(counter)

염기 서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccggctacaatgtcagtatacccattgcattagccgg
{'cta': 2, 'caa': 2, 'tgt': 2, 'cag': 2, 'tat': 2, 'acc': 2, 'cat': 2, 'tgc': 2, 'att': 2, 'agc': 2, 'cgg': 2}

염기 서열을 입력해주세요 : ctacaatgtcagtatacccattgcattagccggctacaatgtcagtatacccattgcattagccg
{'cta': 2, 'caa': 2, 'tgt': 2, 'cag': 2, 'tat': 2, 'acc': 2, 'cat': 2, 'tgc': 2, 'att': 2, 'agc': 2, 'cgg': 1}

In [ ]:
# range함수 다시 연습..
li = [1,2,3,1,2,3,1,2,3]

for i in range(len(li)): # 0부터 시작한다.
    print(i)

0
1
2
3
4
5
6
7
8

# 4번  2차원 리스트 평탄화
다음과 같이 리스트가 중첩되어 있을 때 중첩을 제거하는 처리를 **리스트 평탄화**라고 한다.<br>
`[1,2, [3,4], 5, [6,7], [8,9]] --> [1,2,3,4,5,6,7,8,9]` <br><br>

실행 결과 <br>
[1,2, [3,4], 5, [6,7], [8,9]]를 평탄화하면 <br>
[1,2,3,4,5,6,7,8,9]입니다. <br><br>

위 프로그램을 만들어 보시오.

In [9]:
# 복습1
test = [1,2, [3,4], 5, [6,7], [8,9]]
anser = []

for i in range(len(test)):
  if type(test[i]) == list:
    for j in range(0, len(test[i])):
      anser.append(test[i][j])
  else:
    anser.append(test[i])

print(anser)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 4. 2차원 리스트 평탄화
# 다음과 같이 리스트가 중첩되어 있을 때 중첩을 제거하는 처리를 리스트 평탄화라고 한다.
# [1,2, [3,4], 5, [6,7], [8,9]] --> [1,2,3,4,5,6,7,8,9]

li = [1,2, [3,4], 5, [6,7], [8,9]]
li2 = []

for i in li:
    if type(i) == list:
        for j in i:
            li2.append(j)
    else:
        li2.append(i)
print(li2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]